/* Color Scheme : https://www.schemecolor.com/pokemon-colors.php*/

*{
    box-sizing: border-box;
}

@font-face {
    font-family: PokemonFontFace; /* Give your font a name */
    src: url(PokemonFont.ttf) format(truetype); /* Specify the path to your TFF file */
  }

body{
    margin: 0;
    font-size:16px;
    font-family: PokemonFontFace, sans-serif;
}

img{
    max-inline-size: 100%;
    block-size: auto;
}
.h1_section{
    text-align:center;
    padding:0em;
    font-size:2.5rem;
    background-color: #3B4CCA;
    color:white;

}

h1{
    align-self:center;
}

.h2_section{
    text-align: center;
    padding:3em;
    background: #B3A125;
    color:white;
    font-size:1.25em;


}
.genheader{
    text-align:center;
    padding:1.3em;
    background-color: #CC0000;
    color:white;
}
.row{
    display:flex;
    justify-content:space-around;


}
.selected {
    border: 5px solid blue; /* Example style for selected Pokémon */
}

.noneSelected{
    border-style:none;
}

/*Threre column layout with the generations.
