/* Color Scheme : https://www.schemecolor.com/pokemon-colors.php*/

*{
    box-sizing: border-box;
}

@font-face {
    font-family: PokemonFontFace; /* Give your font a name */
    src: url(PokemonFont.ttf) format(truetype); /* Specify the path to your TFF file */
  }

body{
    margin: 0;
    font-size:16px;
    font-family: PokemonFontFace, sans-serif;
}

.h1_section{
    border:2px solid red;
    text-align:center;
    padding:3.2em;
    border:2px solid red;
    font-size:1.5rem;
    background-color: #3B4CCA;
    color:white;

}
.h2_section{
    border:2px solid red;
    text-align: center;
    padding:0.75em;
    background: #B3A125;
    color:white;


}
.gen1header{
    text-align:center;
    padding:1.1em;
    background-color: #CC0000;
    color:white;
}
.row{
    display:flex;
    justify-content:space-around;


}
.selected {
    border: 5px solid blue; /* Example style for selected Pokémon */
}

.noneSelected{
    border-style:none;
}

/*Threre column layout with the generations.
